<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<arg name="namespace" default="object_recognition" />
	<arg name="namespace_server" default="object_recognition_skill_server" />
	<arg name="namespace_tf_publisher" default="pose_to_tf_publisher" />
	<arg name="object_frame_id" default="object" />
	<arg name="sensor_frame_id" default="camera_link" />
	<arg name="reference_pointcloud_filename" default="$(find object_recognition_dataset)/models/simoldes/8080__0.5mm_sag_2mm_step.ply" />
	<arg name="load_object_recognition_skill_server_node" default="true" />
	<arg name="load_object_recognition_skill_tf_publisher_node" default="false" />
	<arg name="action_name" default="object_recognition_skill_server"/>


	<include file="$(find object_recognition_skill_server)/launch/object_recognition_configuration.launch" ns="$(arg namespace)">
		<arg name="namespace" default="$(arg namespace_server)" />
		<arg name="object_frame_id" default="$(arg object_frame_id)" />
		<arg name="sensor_frame_id" default="$(arg sensor_frame_id)" />
		<arg name="reference_pointcloud_filename" default="$(arg reference_pointcloud_filename)" />
	</include>

	<node if="$(arg load_object_recognition_skill_server_node)"
		  name="object_recognition_skill_server" pkg="object_recognition_skill_server" type="object_recognition_skill_server_node"
		  ns="$(arg namespace)" output="screen">
		<param name='action_name' value='$(arg action_name)' />
	</node>


	<include file="$(find object_recognition_skill_server)/launch/tf_publisher_configuration.launch" ns="$(arg namespace)">
		<arg name="namespace" default="$(arg namespace_tf_publisher)" if="$(arg load_object_recognition_skill_tf_publisher_node)"/>
		<arg name="namespace" default="$(arg namespace_server)/$(arg namespace_tf_publisher)" unless="$(arg load_object_recognition_skill_tf_publisher_node)"/>
		<arg name="object_frame_id" default="$(arg object_frame_id)" />
		<arg name="sensor_frame_id" default="$(arg sensor_frame_id)" />
	</include>

	<node if="$(arg load_object_recognition_skill_tf_publisher_node)"
		  name="pose_to_tf_publisher" pkg="pose_to_tf_publisher" type="pose_to_tf_publisher_node"
		  ns="$(arg namespace)" output="screen"/>

</launch>
