<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<!-- namespace for nodes and parameters -->
	<arg name="namespace" default="object_recognition" />

	<!-- frame ids -->
	<arg name="object_frame_id" default="object" />
	<arg name="sensor_frame_id" default="camera_link" />

	<!-- topics -->
	<arg name="pose_with_covariance_stamped_topic" default="initial_pose" /> <!-- rviz topic -->
	<arg name="pose_stamped_publish_topic" default="localization_pose" />

	<!-- tf configurations -->
	<arg name="publish_initial_pose" default="true" />
	<arg name="publish_pose_tf_rate" default="10.0" />
	<arg name="publish_last_pose_tf_timeout_seconds" default="-3.0" />
	<arg name="invert_tf_transform" default="true" />
	<arg name="invert_tf_hierarchy" default="true" />
	<arg name="transform_pose_to_object_frame_id" default="false" />

	<!-- initial pose setup -->
	<arg name="robot_initial_pose_in_base_to_map" default="true" />
	<arg name="robot_initial_x" default="0" />
	<arg name="robot_initial_y" default="0" />
	<arg name="robot_initial_z" default="0" />
	<arg name="robot_initial_roll" default="0" />
	<arg name="robot_initial_pitch" default="0" />
	<arg name="robot_initial_yaw" default="0" />

	<include file="$(find pose_to_tf_publisher)/launch/pose_to_tf_publisher.launch" >
		<arg name="publish_rate" default="$(arg publish_pose_tf_rate)" />
		<arg name="tf_lookup_timeout" default="1.5" />
		<arg name="publish_last_pose_tf_timeout_seconds" default="$(arg publish_last_pose_tf_timeout_seconds)" />
		<arg name="pose_with_covariance_stamped_topic" default="$(arg pose_with_covariance_stamped_topic)" /> <!-- rviz topic -->
		<arg name="pose_stamped_topic" default="$(arg pose_stamped_publish_topic)" />
		<arg name="odometry_topic" default="" />
		<arg name="map_frame_id" default="$(arg object_frame_id)" />
		<arg name="odom_frame_id" default="" />
		<arg name="base_link_frame_id" default="$(arg sensor_frame_id)" />
		<arg name="publish_initial_pose" default="$(arg publish_initial_pose)" />
		<arg name="initial_pose_in_base_to_map" default="$(arg robot_initial_pose_in_base_to_map)" />
		<arg name="initial_x" default="$(arg robot_initial_x)" />
		<arg name="initial_y" default="$(arg robot_initial_y)" />
		<arg name="initial_z" default="$(arg robot_initial_z)" />
		<arg name="initial_roll" default="$(arg robot_initial_roll)" />
		<arg name="initial_pitch" default="$(arg robot_initial_pitch)" />
		<arg name="initial_yaw" default="$(arg robot_initial_yaw)" />
		<arg name="invert_tf_transform" default="true" if="$(arg invert_tf_transform)" />
		<arg name="invert_tf_hierarchy" default="true" if="$(arg invert_tf_hierarchy)" />
		<arg name="transform_pose_to_map_frame_id" default="$(arg transform_pose_to_object_frame_id)" />
		<arg name="parameters_namespace" default="$(arg namespace)" />
		<arg name="nodes_respawn" default="true" />
		<arg name="node_name" default="object_recognition_tf_publisher" />
	</include>

</launch>
